

 /* fondo de la página */
 body {
  background-image: url("fondo 2.jpg");
  
  background-size: cover;
  background-position: center;
  height: 1000px;
 
}
main {
  background-color: rgba(255,255,0,.85); /* Establece el color de fondo del elemento <main> en blanco */
   
  border-bottom: 5px solid green;
  border-top: 5px solid purple;
  
  }
header {
    
    display: flex;
    
    align-items: left;
    padding: 10px;
    background-color: rgb(147, 27, 162); /* Establece el color de fondo del encabezado */
    color: rgb(255,255,255); /* Establece el color del texto en el encabezado */
    padding: 20px; /* Establece el espacio interno (padding) del encabezado */
    border-bottom: 5px solid green;
    background-image: url('inmobiliarialogo.png'); /* Agrega una imagen como fondo del encabezado */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: right center; /* Establece la posición de la imagen en el costado derecho del encabezado */
    background-size: contain; /* Ajusta el tamaño de la imagen para que se ajuste al ancho del encabezado */

    }
  
  h2 {
    font-family: 'Noto Sans Mono', monospace;
  }
  h4 {
    font-family: 'Noto Sans Mono', monospace;
  }
 
  
  /* esta es la parte de navegación */
  nav {
    background-color: rgba(4, 131, 28, 0.8);
    text-align: center;
    padding: 10px;
    border-bottom: 5px solid purple;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
  }
  
  nav a:hover {
    color: rgb(184, 0, 204);
  }
  
  .cuerpo{
    display: grid;
    grid-template-columns: 1fr  1fr 1fr 1fr;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    gap: 5px;
    margin-left: 5px;

  
  }
  .colu1{
    border-right: 5px solid green;
    background-color: rgba(255,255,0,.85);
   
    }

  .colu2{
      border-right: 5px solid green;
      background-color: rgba(255,255,0,.85);
      
      }
  .colu3{
    border-right: 5px solid green;
    background-color: rgba(255,255,0,.85);
  }

  .lotejpg{
    height: 300px; width: 300px;
    background-image: url('tree.jpg');
   
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: right center;
    border-top: 5px solid purple; border-bottom: 5px solid purple;
    background-size: contain;

  }
  .barriojpg{
    height: 300px; width: 300px;
    background-image: url('sunset.jpg');
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: right center; /* Establece la posición de la imagen en el costado derecho del encabezado */
    background-size: contain; /* Ajusta el tamaño de la imagen para que se ajuste al ancho del encabezado */
    border-top: 5px solid purple; border-bottom: 5px solid purple;
  }
  
  .campojpg  {
    height: 300px; width: 300px;
    background-image: url('flower.jpg');
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: right center; /* Establece la posición de la imagen en el costado derecho del encabezado */
    background-size: contain; /* Ajusta el tamaño de la imagen para que se ajuste al ancho del encabezado */
    border-top: 5px solid purple; border-bottom: 5px solid purple;
  }

  
      
   
  
  
  .contenedor-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  .boton-volver {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    border-bottom: purple;
    
  }
  .boton-volver:hover {
    background-color: rgb(184, 0, 204);
  }


  
  

 
  
  .fotos-casas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }
  
  .fotos-casas img {
    width: 30%;
    margin-bottom: 20px;
  }
  
  .comentario-general {
    width: 60%;
    margin: 20px;
  }
  
  .comentario-general h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .comentario-general p {
    font-size: 1.2rem;
    line-height: 1.5;
  }



  .recuadro {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    max-width: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }


/*nuevo*/
  .icon-container {
    display: flex;
    align-items:left;
    margin-right: 10px;
  }
  
  .counter {
    display: flex;
   /* background-color: rgb(2, 141, 64);*/
    color: rgb(255, 255, 255);
    border-radius: 5%;
    
    width: 120px;
    height: 18px;
    
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-left: 10px;
  }
  
  .counter:not(:empty) {
    /* oculta el contador si su valor es 0 */
    display: flex;
  }
  /* lo mas nuevo*/

  label{
    display: inline-block;
    width: 80px;
  }
  form{
    margin: 20px;
  }



  